docker {
    enabled = true
}

params {

    // Pipeline
    workflow_level = "complete"
    project_name = "tcrtoolkit-sc_"+ new Date().format("yyyy-MM-dd_HH:mm:ss")
    
    // Single Cell pseudobulk subworkflow
    input_vdj_contigs = "${projectDir}/data/SCRATCH_ALIGN:CELLRANGER_VDJ/**/outs/*"

}